@include export('fp-slides') {

    #front-page {
        position: relative;
    }

    $slides: (home, portfolio, blog, about, contact);

    $images: (
        home: get-background-image($slides, 1),
        portfolio: get-background-image($slides, 2),
        blog: get-background-image($slides, 3),
        about: get-background-image($slides, 4),
        contact: get-background-image($slides, 5)
    );

    @each $slide in $slides {
        #{unquote('#')}#{$slide}-page {
            .fp-bg {
                opacity: 0;
                background: {
                    color: #000;
                    image: url(map-get($images, $slide));
                    position: center top;
                    size: cover;
                }

                .mask {
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.65);
                }
            }
        }
    }

    #home-page {
        .column {
            margin-top: 9em;
        }
    }
}
